@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-900 text-gray-100;
  }
}

.font-amharic {
  font-family: 'Noto Sans Ethiopic', sans-serif;
}